*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/* Nav Bar */

nav{
    height: 64px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    padding-left: 24px;
    size: 50px;
    height: 50px;
    margin: 0;
    padding-left: 25px;
}

.colmar{
    color: rgb(77, 77, 77);
    font-weight: 700;
    font-size: 32px;
}

.academy{
    color: grey;
    font-size: 32px;
}

.left{
    display: flex;
    align-items: center;
}

.text{
    padding-left: 16px;
    font-size: 20px;
}
.text-container{
  display: flex;
  justify-content: flex-start;
}
.text2{
    padding-left: 16px;
    font-size: 20px;
    padding-right: 24px;
}
/* Section 1 */

.banner{
    padding: 32px 24px;
    width: 60%;
    height: 0 auto;
}

#banner{
    background-color: rgb(190, 190, 190);
    display: flex;
}

.learn{
    font-size: 50px;
    font-weight: bold;
    color: #353535;
    padding: 3.5em 0 1em 0;
}

.quote{
    font-size: 30px;
    padding-bottom: 1em;

}

button{
    padding: 8px;
    font-size: 20px;
    border: 0;
    background-color: rgb(53, 53, 53);
    color: white;
    align-items: center;

}

.banner-container{
    display: flex;
    flex-direction: column;
    max-width: 50em;


}

/* Main Info Section */

.man-reading{
    width: 60%;
    padding: 32px 24px 32px 0;
}

.practice{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
}

.doesnt-hurt{
    font-size: 50px;
    font-weight: bold;
    color: #353535;
    margin-bottom: 24px;
}

.long-quote{
    font-size: 24px;
    max-width: 60%;
    font-weight: 100;

}

.Strategist{
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 32px;
}